<footer>
  <div id="footer" class="container-fluid">
    <div>
      <div class="space-y-[16px] mr-[48px] mt-[20px]">
        <img src="/assets/images/logo/morent-logo.svg" alt="Logo" class="logo-img">
        <p>
          Whether it's for business or leisure, we're dedicated to making your ride comfortable, convenient, and affordable.
        </p>
      </div>
      <div>
        <div class="mr-[60px] mt-[20px]">
          <h6>About</h6>
          <ul class="space-y-[20px]">
            <li><a href="#">How it works</a></li>
            <li><a href="/pages/public/about.html#lower">Features</a></li>
            <li><a href="#">Partnership</a></li>
            <li><a href="#">Bussiness Relation</a></li>
          </ul>
        </div>
        <div class="mr-[60px] mt-[20px]">
          <h6>Community</h6>
          <ul class="space-y-[20px]">
            <li><a href="/pages/public/blogs.html">Blogs</a></li>
          </ul>
        </div>
        <div class="mt-[20px]">
          <h6>Socials</h6>
          <ul class="space-y-[20px]">
            <li><a href="#">Tik Tok</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr/>
    <div>
      <h6>©2022 MORENT. All rights reserved</h6>
      <div class="space-x-[28px]">
        <a href="#">Privacy & Policy</a>
        <a href="#">Terms & Condition</a>
      </div>
    </div>
  </div>
</footer>