@import url('../main.css');
@import url('../modules/splide/splide-core.min.css');
@import url('../modules/splide/splide.min.css');
@import url('../modules/viewer.min.css');

.car-card {
  width: 304px;
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 388px;
}

.car-card > div:nth-of-type(1) {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.car-card > a > img {
  width: 232px;
  object-fit: contain;
}

.car-card > div:nth-of-type(2) {
  width: 100%;
}

.car-card > div:nth-of-type(2) > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car-card > div:nth-of-type(2) > div:nth-of-type(1) > div {
  display: flex;
  align-items: center;
}

.car-card > div:nth-of-type(2) > div:nth-of-type(1) > div > img {
  margin-right: 6px;
}

.car-card > div:nth-of-type(2) > div:nth-of-type(1) > div > span {
  font-weight: 500;
  font-size: 14px;
  color: #90a3bf;
}

.car-card > div:nth-of-type(2) > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#recommendation {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
}

#recommendation .car-card {
  width: 100%;
}

@media (max-width: 1440px) {
  #recommendation {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1100px) {
  #recommendation {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 770px) {
  #recommendation {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.favorite {
  cursor: pointer;
}

.favorite:active {
  transform: scale(0.8);
}

#details {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;
}

#info {
  padding: 24px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: auto;
}

:root {
  --star-size: 24px;
  --star-color: #e6e6e6;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; /* make sure ★ appears correctly */
  line-height: 1;
}

.Stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#spec {
  width: 350px;
}

#spec > div > div > span {
  font-size: 16px;
  font-weight: 600;
  color: #596780;
}

#spec > div > div > span.name {
  color: #90A3BF;
  width: 121px;
}

#spec > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}

#spec > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#spec > div:nth-of-type(1) > div {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  #details {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
  }
}

#images {
  display: flex;
  flex-direction: column;
}

#big-image {
  width: 100%;
  height: 360px;
  background-image: url('/assets/images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

#big-image img {
  width: 80%;
  cursor: pointer;
}

.image {
  width: 148px;
  height: 124px;
  border-radius: 10px;
}

.image.active {
  background-color: white;
  padding: 6px;
  border: 2px solid #3563E9;
}

.image > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image.main > div {
  background-image: url('/assets/images/background.svg');
}

.image > div img {
  width: 80%;
}

#reviews {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
}

.review {
  display: flex;
}

@media (max-width: 555px) {
  .review {
    flex-direction: column;
  }

  .review > div:nth-of-type(1) img {
    width: 28px;
    height: 28px;
    margin-bottom: 8px;
  }

  /* .review > div:nth-of-type(1) {
    display: none;
  } */
}
